{% extends "contenido/encabezado.html" %}

{% block titulo %}Confirmar Eliminacion {% endblock %}



{%block encabezado%}
<div class="page-header">
    <div class="page-title">
        <h3>ELIMINAR COMENTARIO</h3>

    </div>

</div>
{%endblock%}

{% block contenedor %}

        <form method="POST">
            {% csrf_token %}

                    <div class="callout callout-danger fade in">
                        <h5>Eliminando Comentario</h5>
                        <p>¿Estas seguro que deseas <strong>Eliminar</strong> el comentario seleccionado?</p>
        
                    </div>
        
                    <button type="submit" class="btn btn-danger">Si</button>
                    <a href="{%url 'Comentarios'%}" class="btn btn-primary">Cancelar</a>

        </form>

        
{% endblock %}